/* Core Style*/
* {
  margin: 0;
  padding: 0;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  .items {
    width: 90%;
  }
}
h2 {
  text-align: center;
}
ul {
  list-style: none;
}
.swiper-container {
  height: 380px;
}
.swiper-container2 {
  height: 380px;
}
.card.swiper-slide-next {
  margin-right: 0;
}
/* Header Style*/
header {
  background: url('img/header-bg.png');
  background-size: cover;
  padding-bottom: 100px;
}
header .nav {
  padding-top: 20px;
}
header .nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .nav__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  header .nav__items {
    width: 90%;
  }
}
header .nav__logo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
header .nav__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
header .nav__menu ul li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
header .nav__menu ul li a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 24px;
}
header .nav__btn {
  border-radius: 20px;
  background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  padding: 10px 30px;
  cursor: pointer;
}
header .banner {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin-top: 4em;
}
header .banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
header .banner__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 850px) {
  header .banner__items {
    width: 90%;
  }
}
header .banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
}
header .banner__content-header {
  font-family: 'Dosis', sans-serif;
  font-size: 54px;
}
header .banner__content-text {
  font-size: 14px;
  margin-top: 15px;
  max-width: 80%;
}
header .banner__list {
  margin-top: 15px;
}
header .banner__list-item {
  line-height: 24px;
  font-size: 14px;
  margin-top: 10px;
}
header .banner__list-item:before {
  content: url('img/point.png');
  margin-right: 5px;
  line-height: 24px;
}
header .banner__list-item:first-child {
  margin-top: 0;
}
header .banner__btn {
  color: #222222;
  margin-top: 25px;
  padding: 13px 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.9));
  -ms-flex-item-align: start;
  align-self: flex-start;
  cursor: pointer;
}
/* Main Style */
main .features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main .features__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: justify;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 2px solid #eee;
  margin-top: 75px;
  padding-bottom: 100px;
}
@media screen and (max-width: 850px) {
  main .features__items {
    width: 90%;
  }
}
main .features__items .fitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30%;
  margin-top: 50px;
}
main .features__items .fitem__content {
  margin-left: 10px;
}
main .features__items .fitem__content-header {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
main .features__items .fitem__content-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: justify;
}
main .iphone__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main .iphone__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 850px) {
  main .iphone__items {
    width: 90%;
  }
}
main .iphone__image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px;
}
main .iphone__image img {
  max-width: 100%;
}
main .iphone__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
main .iphone__content-header {
  font-size: 36px;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  text-align: left;
}
main .iphone__content-text {
  text-align: justify;
  font-size: 14px;
  margin-top: 20px;
}
main .iphone__content-text2 {
  text-align: justify;
  font-size: 14px;
  margin-top: 50px;
}
main .iphone__list {
  margin-top: 20px;
}
main .iphone__list-item {
  line-height: 24px;
  font-size: 14px;
}
main .iphone__list-item:before {
  content: url('img/point-2.png');
  margin-right: 5px;
  line-height: 24px;
}
main .screenshots {
  background: #f7fafc;
  padding-top: 100px;
  padding-bottom: 100px;
}
main .screenshots__header {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 36px;
}
main .screenshots__text {
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 650px;
  margin: 20px auto;
}
main .screenshots__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main .screenshots__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (max-width: 850px) {
  main .screenshots__items {
    width: 90%;
  }
}
main .pricing {
  padding-top: 100px;
  padding-bottom: 100px;
}
main .pricing__header {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 36px;
  font-weight: 500;
}
main .pricing__text {
  text-align: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 650px;
  margin: 20px auto;
}
main .pricing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main .pricing__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 850px) {
  main .pricing__items {
    width: 90%;
  }
}
main .pitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f7fafc;
  width: 262px;
  height: 481px;
  text-align: center;
}
main .pitem__title {
  color: #333;
  font-family: Dosis;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .pitem__price {
  background-image: url('img/price-bg.png');
  background-size: cover;
  height: 120px;
  color: #333333;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
main .pitem__price p {
  margin-top: 35px;
}
main .pitem__price p span {
  font-size: 48px;
}
main .pitem__list {
  margin-top: 20px;
}
main .pitem__list-item {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  border-bottom: 1px dashed #eeeeee;
}
main .pitem__list-item:last-child {
  border-bottom: none;
}
main .pitem__start {
  color: #aaaaaa;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  margin-top: 50px;
}
main .pitem__button {
  border-radius: 20px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  -ms-flex-item-align: center;
  align-self: center;
  padding: 12px 42px;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 23.95px;
  cursor: pointer;
}
main .video {
  background: url('img/video.png');
  min-height: 402px;
  background-size: cover;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
}
main .reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main .reviews__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 850px) {
  main .reviews__items {
    width: 90%;
  }
}
main .reviews .card {
  background-color: #f7fafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
main .reviews .card__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}
main .reviews .card__info {
  margin-left: 20px;
}
main .reviews .card__text {
  padding: 20px;
  max-width: 80%;
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}
main .reviews .card__name {
  color: #222222;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
main .reviews .card__position {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
main .download {
  background-image: -webkit-gradient(linear, left top, right top, from(#fd712c), to(#f21780));
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  padding-top: 100px;
  padding-bottom: 100px;
}
main .download__header {
  font-family: 'Dosis', sans-serif;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}
main .download__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
main .download__items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 80px;
}
@media screen and (max-width: 850px) {
  main .download__items {
    width: 90%;
  }
}
main .download .ditem {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  cursor: pointer;
}
main .download .ditem:last-child {
  margin-right: 0;
}
main .download .ditem__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 50px;
}
main .download .ditem__content-header {
  color: #222222;
  font-family: "Dosis", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
}
main .download .ditem__content-text {
  color: #777777;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px;
}
/* Footer Style */
.footer {
  background: #000;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__socials {
  margin-top: 60px;
}
.footer__socials-item {
  margin-right: 30px;
}
.footer__socials-item:last-child {
  margin-right: 0;
}
.footer__content {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
@media screen and (max-width: 1330px) {
  main .pricing__items {
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1072px) {
  main .pricing__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .pitem {
    margin-top: 20px;
  }
  main .features__items .fitem {
    width: 45%;
  }
}
@media screen and (max-width: 1010px) {
  header .banner__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header .banner__btn,
  header .banner__content-text {
    -ms-flex-item-align: center;
    align-self: center;
  }
  header .banner__content-text {
    max-width: 100%;
  }
  header .banner__content-header {
    font-size: 48px;
  }
}
@media screen and (max-width: 990px) {
  main .download__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  main .download .ditem {
    margin-right: 0;
    width: 360px;
    margin-top: 30px;
  }
  main .download .ditem:first-child {
    margin-top: 0;
  }
  main .download .ditem__content {
    margin-right: 0;
    margin-left: 50px;
  }
}
@media screen and (max-width: 900px) {
  header .nav__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  header .nav__logo {
    -ms-flex-item-align: center;
    align-self: center;
  }
  header .nav__menu {
    margin-top: 20px;
  }
  header .banner__content {
    width: 80%;
  }
  header .banner__content-header {
    font-size: 54px;
    text-align: center;
  }
  header .banner__content-text {
    text-align: center;
  }
  header .banner__list {
    -ms-flex-item-align: center;
    align-self: center;
  }
}
@media screen and (max-width: 750px) {
  main .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  main .features__items .fitem {
    width: 80%;
  }
  main .iphone__image {
    display: none;
  }
  main .iphone__content-header {
    text-align: center;
  }
}
